<div class="columns is-desktop is-centered">
	<div class="column is-8">
		<h3 class="title is-4">Resources</h3>
		<hr>
		<div class="box">
			<div class="elems-between">
				<p>{{user.name}}</p>
				<a href="/profile/addresources" class="button is-success">
					<span class="icon is-small">
						<i class="fas fa-plus"></i>
					</span>
					<span>Add</span>
				</a>
			</div>
			<hr>

			<table class="table is-striped is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th>Nombre</th>
						<th><abbr>Link</abbr></th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					{{#each resources }}
					<tr>
						<td>{{this.name}}</td>
						<td class="link"><a class="clic" href="{{this.url}}" target="_blank">{{this.url}}</a></td>
						<td class="td-right">
							<a class="ironbutton danger icon" href="/resource/delete/{{_id}}">
								<i class="fas fa-minus-circle"></i></a>
							<a class="ironbutton icon" href="/profile/resource?resourceid={{_id}}">
								<i class="fas fa-chevron-right"></i>
							</a>
						</td>

					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>